@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Lato:wght@300&display=swap');

.style_a {
  text-align: center;
  font-family: 'Klee One', cursive;
  font-family: 'Lato', sans-serif;
}

