@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Lato:wght@300&display=swap');

.style_a {
  text-align: center;
  font-family: 'Klee One', cursive;
  font-family: 'Lato', sans-serif;
}

.style_a h1{
  font-size: 40px;
}

.style_a input[type="text"] {
  width: 320px;
  height: 20px;
  border-radius: 5px;
  padding: 3px;
}

.style_a input[type="textarea"] {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  padding: 3px;
}

.style_a input[type="email"] {
  width: 320px;
  height: 20px;
  border-radius: 5px;
  padding: 3px;
}

.style_a button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 3px;
}