@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Lato:wght@300&display=swap');

.greeting {
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #685c5c;
}

.greeting p1 {
  font-size: 30px;
  color: #706969;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
}

.greeting p2 {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%);
}

.greeting img {
  width: 500px;
}

.logo {
  text-align: center;
}